/** @format */
:root {
  --white: #fff;
  --primary: #f59e0b;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  background-image: url("/bg_clima.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 2rem;
}
